body {
  background-color: #F4EEED;
  padding: 10px;
  margin: 20px;
  border: dotted red 2px
}

button {
  border: solid lightgreen 2px;
  background-color: forestgreen;
  margin: 20px;
  padding: 10px;
  border-radius: 20px
}

h1 {
  border: groove blue 10px
}
 section {
   margin: 2px;
   padding: 8px
 }
